*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color : rgb(169, 147, 147);
    padding: 10px 100px;
}
nav .logo h1{
 font-size: 25px;
 color: aqua;
}
nav .nav-link ul{
    display: flex;
    gap: 50px;
    font-size: 20px;
    color: yellow;
}
.nav-link i{
    display: none;
}
.hero-img img{
    width: 80%;
    border-radius: 10px;
   }
.hero-img{
    flex: 1;
}
.hero-section{
    display: flex;
    align-items: center;
    padding: 20px 30px;
    gap: 20px;
    flex-direction: row;
}
.hero-text{
    flex: 1;
    display: grid;
    gap: 10px;
}

.hero-text h1{
    font-size: 40px;
}
.hero-text p{
    font-size: 20px;
    color: gray;
}

 

@media (max-width:768px) {
    .nav-link i{
     display: block;
     font-size: 20px;
    }

    nav .nav-link ul{
        display: none;
    }
    .hero-section{
      flex-direction: column; 
    }
    .hero-section .hero-text h1{
        font-size: 20px;
    }
}