.text{
    color: rgb(255, 0, 255);
 
}
.text2{
    color: rgb(0, 0, 0,);
 background-color: rgba(255, 0, 0, 0.886);
}
.text3{
    color: red;
    font-size: 40px;
    text-shadow: 10px 10px 10px rgb( 0, 5, 3)
}
/* 
text-shadwo- right(+) left(-), bottam(+) top(-), blur,

*/

a{
    text-decoration: none;
    color: rgb(172, 17, 17);
    font-size: 24px;
  
}